server {
  listen 80;
  server_name usgard.com;
  access_log /var/log/nginx/my_app.access.log;

  location /assets/ {
    alias /var/www/usgard-master/public/assets/;
    gzip_static on;
    expires max;
    add_header Cache-Control public;
  }

  location / {
    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header Host $http_host;
    proxy_set_header X-NginX-Proxy true;

    proxy_pass http://127.0.0.1:2300/;
    proxy_redirect off;

    proxy_http_version 1.1;
    proxy_set_header Upgrade $http_upgrade;
    proxy_set_header Connection "upgrade";
  }
}

server {
  listen 8080;
  server_name websocket;
  access_log /var/log/nginx/my_app.access.log;

  location /cable {
    proxy_pass http://127.0.0.1:8081/cable;
    proxy_redirect off;

    proxy_http_version 1.1;
    proxy_set_header Upgrade $http_upgrade;
    proxy_set_header Connection "upgrade";
  }
}
